/* FONTS */

h1{
    text-align: left;
    font-family: Roboto, sans-serif;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color:E7D8C9;
}

.smallerFont {
    font-weight:300;
    font-size: 45px;
    max-width: 700px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}

.bigFont {
   font-weight:700;
    font-size: 90px;
    max-width: 700px;
    background: -webkit-linear-gradient(285deg, #f1afb3 0%,  #e7b1da 31%,  #89b1f3 64%,  #92bff3 84%, #80b4f4 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2{
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color:E7D8C9;
}

body{
    font-family: Roboto, sans-serif;
    font-weight:300;
    font-size: 20px;
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    background-color:#ffffff;
    background-image: linear-gradient(161deg, rgba(167, 167, 167, 0.371) 0%, #ffffff 43%, #ffffff 100%);
    min-height: 100vh;

}


/* #Redirect{
    background-image: url(RSCO-Uncoated-Matchbook\ copy\ copy\ copy.png);
    background-size: 250px, 250px;
    padding-top: 4%;
} */

/* INTRO CONTAINER */

#IntroContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
}

#IntroPortrait{
    display:flex;
    justify-content:center;
    align-items: center;
}

#IntroPortrait img{
    width:175px;
    height: auto;
    rotate: 5deg;
}

/*MAIN BODY*/

.image-btn {
    position: relative;
    display: inline-block;
    width: 200px; 
    height: 60px; 
    text-decoration: none;
    color: black; 
    font-weight:300;
    font-size: 20px;
}

.image-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  pointer-events: none; 
}

#RedirectButtons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 40%;
}

#RedirectContactButtons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 40%;
}




/* MOBILE */

@media screen and (max-width:550px) {



/* Body of the website */
#IntroPortrait img{
    width:190px;
    height: auto;
    rotate: 3deg;
}


body{
    max-width: 450px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#ffffff;
    background-image: linear-gradient(161deg, rgba(167, 167, 167, 0.371) 0%, #ffffff 43%, #ffffff 100%);
    min-height: 100vh;
    text-align: center;
    
}

footer {
    max-width: 450px;
    padding-left: 40px;
    padding-right: 40px;    
}
 
#IntroContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    max-width: 450px;
    padding-bottom: 40px;
}

#RedirectButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px; 
}

#RedirectContactButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    
}

.image-btn {
    min-width: 150px;
    max-width: 200px;
    width: 100%;
    height: 60px;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    display: block;
}

.image-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  pointer-events: none; 
}

#RedirectButtons{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    width: 70%;
}


#RedirectContactButtons{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    width: 70%;
}

    

/* FONTS */

h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    max-width: 700px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:E7D8C9;
}

h2{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color:E7D8C9;
}

.smallerFont {
    font-weight:300;
    font-size: 30px;
    max-width: 700px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}

.bigFont {
   font-weight:700;
    font-size: 60px;
    max-width: 700px;
    background: -webkit-linear-gradient(285deg, #f1afb3 0%,  #e7b1da 31%,  #89b1f3 64%,  #92bff3 84%, #80b4f4 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    font-family: Roboto, sans-serif;
    font-weight:300;
    font-size: 20px;
    max-width: 700px;
    background-color:E7D8C9;
    color: rgb(0, 0, 0);
    padding-bottom: 100px;
}


.image-btn {
    text-decoration: none;
    color: black; 
    font-weight:300;
    font-size: 20px;
}


}


